<app-child [data]="value" (dataEvent)="receiveData($event)"></app-child>
<p>parent: </p><input type="text" name="value" [(ngModel)]="value">
<p> You entered </p>
<button (click)="clearValue()">Clear</button>
<button (click)="getData()">get data</button>
<p>Received data: {{ name }}</p>
<h1>{{data.a}}</h1>
<h1>dsdsdsd</h1>
<table>
  <tr>
    <td>a</td>
    <td>b</td>
    <td>c</td>
  </tr>
  <tr>
    <td>{{data.a}}</td>
    <td>{{data.b}}</td>
    <td>{{data.c}}</td>
  </tr>
</table>
<table>
  <tr>
    <td>a</td>
    <td>b</td>
    <td>c</td>
  </tr>
  <tr *ngFor="let item of array">
    <td>{{ item['a'] }}</td>
    <td>{{ item['b'] }}</td>
    <td>{{ item['c'] }}</td>
  </tr>
</table>
