<app-child [data]="value" (dataEvent)="receiveData($event)"></app-child>
<p>parent: </p><input type="text" name="value" [(ngModel)]="value">
<p> You entered </p>
<button (click)="clearValue()">Clear</button>
<button (click)="getData()">get data</button>
<p>Received data: {{ name }}</p>
<!--<h1>{{data.a}}</h1>-->
<h2>Font size editor</h2>

<div>
  <label>Enter font size (px):</label>
  <input type="range" min="9" max="80" value="18" [(ngModel)]="fontSize"> <span>{{fontSize}}</span>
  <button (click)="showHiddenText()">show</button>
</div>

<p class="output" [hidden]="hidden" [style.fontSize.px]="fontSize">
  This is a paragraph.
</p>
<table class="table">
  <tr>
    <td>#</td>
    <td>name</td>
    <td>email</td>
    <td>created_at</td>
    <td>action</td>
  </tr>
  <tr *ngFor="let item of data; let i = index">
    <td>{{i}}</td>
    <td>{{item.name}}</td>
    <td>{{item.email}}</td>
    <td>{{item.created_at}}</td>
    <td>
      <button (click)="deleteUser(item.id)">delete</button></td>
  </tr>
</table>

